
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* Shared style css.................................. */
.display-flex{
    display: flex;
}
/* main section{
    max-width: 1440px;
    margin: 0 auto;
} */
.bar-sign{
    display: none;
}
.hide{
    display: none;
}
/* header section style css....................... */
.header-section{
    justify-content: space-around;
    align-items: center;
}
.logo-site{
    width: 200px;
    height: 62px;
    align-items: center;
}
.logo-title{
    font-size: 2rem;
    font-weight: bold;
}
.nav li{
    list-style: none;
}
.nav li a{
    margin-left: 32px;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}
#first{
    color: #FEA301;
    font-weight: bold;
}
#second{
    color: #01ACFD;
}
#third{
    color: #05D4DF;
}
#last{
    color: #5D58EF;
}
.header-btn{
    padding: 10px 45px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
}
/* landing page section style css */
.landing-page-section{
    margin: 50px auto;
    max-width: 1440px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.info-section{
    max-width: 640px;
}
.section-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-description{
    font-size: 1.25rem;
}
.img-section{
    max-width: 468px;
}
.img-section img{
    width: 100%;
}
.landing-page-btn{
    padding: 10px 45px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    border: none;
    background-color: black;
}

/* curriculum section style css............................ */
.curriculum-container{
    padding-top: 20px;
    background-image: url(../assets/bg.png);
}
.curriculum-title{
    color: #000000;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;  
}
.curriculum-boxes{
    gap: 28px;
    justify-content: center;
}
.curriculum-box-item{
    border-radius: 18px;
    background-color: #FFFFFF;
    width: 340px;
    height: 400px;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, #DEF5FF 0%,#FFFFFF 50%);
}
#second-box-item{
    background-image: linear-gradient(to bottom, #FFF4DC 0%,#FFFFFF 50%);
}
#third-box-item{
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1)0%,#FFFFFF 50%);
}
.item-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: #202020;
}
.item-description{
    font-size: 1rem;
    color: #808080;
    font-weight: 600;
}
.item-btn{
    font-size: 1rem;
    font-weight: bold;
    color: #64C8FF;
    border: none;
    background-color: #FFFFFF;
    margin-top: 30px;
}
.second-btn{
    color: #F0AA00; 
}
.third-btn{
    color: #8700FF;
}
.sign-box{
    justify-content: center;
    margin-top: 70px;
}
.sign{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    color: #FFFFFF;
    position: relative;
    margin-left: 10px;
}
.sign i{
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 26px;
}
/* stories section style css....................................................... */
.stories-container{
    background-image: url(../assets/bg.png), linear-gradient(to top, #FEA301 0%,#FFFFFF 80%);
    margin-top: 100px;
    padding-bottom: 50px;
}
.left-side-content{
    width: 440px;
    height: 630px;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: relative;
}
.left-side-content img{
    max-width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.stories-btn{
    border-radius: 47px;
    background-color: #3CD8E8;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 254px;
    left: 15px;
}
.stories-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}
.stories-discription{
    color: #666666;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
}
.story-box{
    max-width: 290px;
    height: 300px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story-box img{
    max-width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.stories-containt{
    gap: 20px;
    justify-content: center;
}
.right-side-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.story-btn{
    border-radius: 47px;
    background-color: #3CD8E8;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
}
.button-div {
    margin-top: -21px;
    margin-left: 25px;
}
.story-title{
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0px;
}
.storys-btn{
    text-align: center;
    margin-top: 50px;
}
/* footer-section style css....................................................... */

.footer-section{
    background-color: #01ACFD;
    padding-bottom: 100px;
}
.main-contaient{
    justify-content: space-around;
    padding-top: 50px;
}
.logo-section{
    width: 300px;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.logo-section img{
    width: 100%;
    color: white;
}
.logo-section h2{
    font-weight: bold;
    font-size: 2.6rem;
    color: white;
    line-height: 39px;
}
.web-description{
    width: 390px;
    color: white;
    font-size: 1.25rem;
}
.nav-section h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.nav-section ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}
.nav-section ul{
    padding-left: 0;
}
.logo-side h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.logo-side ul{
    padding-left: 0px;
}
.logo-side li{
    list-style: none;
    margin-right: 10px;
}
/* responsive code css..................................................... */
@media screen and (max-width: 576px) {
    .curriculum-boxes,
    .main-contaient{
        flex-direction: column;
    }
    .landing-page-section{
        flex-direction: column-reverse;
    }
    .navbar, .header-btn{
        display: none;
    }
    .section-title{
        font-size: 2.5rem;
    }
    .info-section{
        text-align: center;
    }
    .main-contaient{
        margin-left: 13px;
    }
    .left-side-content{
        display: none;
    }
    .story-title {
        padding: 20px 10px;
    }
    .story-box {
        height: 250px;
    }
    .header-section {
        justify-content: space-between;
        border-bottom: 2px solid orange;
        padding-bottom: 15px;
    }
    .bar-sign{
        font-size: 35px;
        display: contents;
    }
}